torch>=2.0.0
torchaudio>=2.0.0
numpy>=1.26.0
pandas>=2.2.0
matplotlib>=3.8.0
tqdm>=4.66.0

transformers>=4.44.0
huggingface_hub>=0.23.0

onnxruntime>=1.18.0
protobuf

soundfile
librosa>=0.10.0
scipy
requests

git+https://github.com/openai/whisper.git
